*{
    margin: 0;
    padding: 0;
}

header{
    height: 100px;
    background-color: crimson;
    position: fixed;     /* static (padrão) - relative - absolute */
}

nav{ 
    margin-top: 30px;
    padding-top: 100px;
    height: 100px;
    background-color: aqua;
    top: 50px;
    /* left: ;
    right: ;
    bottom: ;
     */
}

main{
    height: auto;
    background-color: chartreuse;
   
}

section{
    margin: 30px;
    padding-top: 100px;
    height: auto;
    background-color: blueviolet;
    position: relative;
   
}

article{

    height: auto;
    background-color: burlywood;
    position: absolute;
    right: 50px;
    top: 10px;
    
}

footer{
    height: auto;
    background-color: aquamarine;
    
}